@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Tema Light (Default) */
  --background: #e6e6e6;
  --foreground: 222.2 84% 4.9%;
  --primary: rgb(133, 79, 69);
  
}

/* [data-theme='dark'] {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --primary: 217.2 91.2% 59.8%;
}

[data-theme='retro'] {
  --background: 35 43% 82%;
  --foreground: 25 15% 15%;
  --primary: 12 76% 61%;
} */


@layer components {

/* HEADER */
.header {
    @apply bg-[url(/header.jpg)] h-[40%] bg-cover;
}

.main-container-header {
    padding-top: 20px;
}
.description-box {
    @apply w-[40%] ml-[2.5%] pb-5;
    max-width: 50%;
    /* background-color: var(--primary); */
}
.description-box p {
   font-size: 130%;
}
.container-logo {
     @apply pl-[25px];
     max-width: 8rem;
     /* min-width: 10%; */
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: end;
     border-top: solid black 1px;
}

/* .logo-image {
    @apply pl-[0%] ;
} */

/* SEARCHBAR */

.title-search {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5%;
}

.filter-button {
  background-color: #d4d4c1;
  width: 10%;
}

.border-bottom-box {
    border-top: 1px solid #000000;
} 

.border-bottom-box-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000000;
  background-color: #d4d4c1;
  
} 

.input-search {
  background-color: rgb(255, 255, 255);
  width: 80%;


}
.glass-search {
  display: flex;
  margin: 1%; 
  background-color: white;
  padding: 1%;
  border-radius: 20px;
}

.glass-search input {

  margin: 4px ;
}
.filter-image {
  background-color: #d4d4c1;
  width: 3rem;
  min-width: 1rem;
  padding: 10px;
}

.search-image {
  width: 1.5rem;
  margin: 2%;
}



.title-box {
 
  grid-row: span 2;
}

/* Product grid */

.grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 2%;
}

.grid-box {
  background: rgb(113, 109, 143);
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.product-card {

}
.background-card {
  width: 20%;
}

.background-card img {
  width: 100%;
}


} 
